<header class="container">
  <a href="/" class="logo">
    <h1>GamesTo<span>Free</span></h1>
  </a>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/category/anime">Anime</a>
      </li>
      <li>
        <a href="/category/battle-royale">Battle Royale</a>
      </li>
      <li>
        <a href="/category/racing">Racing</a>
      </li>
      <li>
        <a href="/category/shooter">Shooter</a>
      </li>
      <li class="dropdown-container">
        <span>More</span>
        <ul class="dropdown-content">
          <li><a href="/category/mmorpg">MMORPG</a></li>
          <li><a href="/category/moba">MOBA</a></li>
          <li><a href="/category/social">Social</a></li>
          <li><a href="/category/card-games">Card Games</a></li>
          <li><a href="/category/fighting">Fighting</a></li>
          <li><a href="/category/sci-fi">Sci-fi</a></li>
          <li><a href="/category/strategy">Strategy</a></li>
          <li><a href="/category/sports">Sports</a></li>
          <li><a href="/category/fantasy">Fantasy</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
