.card-container {
  position: relative;
  width: 20vw;
  min-height: 50vh;
  background-color: var(--black-03);
  border-radius: 4px;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0px 0px 7px 2px #8956D7;
  }

  img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

}

.card-content {
  padding: 1rem;

  p {
    margin-top: 1rem;
    font-weight: lighter;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  span {
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 5px;
    z-index: 999;
  }
}
