<header>
  <a href="">GamesToFree</a>
  <ul>
    <li>Home</li>
    <li>Anime</li>
    <li>Battle Royale</li>
    <li>Racing</li>
    <li>Shooter</li>
    <li>
      More
      <ul>
        <li><a href="#">MMORPG</a></li>
        <li><a href="#">MOBA</a></li>
        <li><a href="#">Social</a></li>
        <li><a href="#">Card Games</a></li>
        <li><a href="#">Fighting</a></li>
        <li><a href="#">Sci-fi</a></li>
        <li><a href="#">Strategy</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Fantasy</a></li>
      </ul>
    </li>
  </ul>
</header>
