/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #8956D7;
  --black-01: #171717;
  --black-02: #1E1E20;
  --black-03: #313135;
  --gray-01: #ADADAF;
  --white: #FFFFFF;
}

@media (max-width: 1080px) {
  html {
      font-size: 93.75%;
  }
}

@media (max-width: 720PX) {
  html {
      font-size: 87.5%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--black-01);
  color: var(--white)
}

button {
  cursor: pointer;
  color: var(--white);
  background: var(--main-color);
  outline: 0;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1920px;
  padding: 0 2%;
  margin: 0 auto;
}
