/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #8956D7;
  --black-01: #171717;
  --black-02: #1E1E20;
  --gray-01: #ADADAF;
  --white: #FFFFFF;
}

@media (max-width: 1080px) {
  html {
      font-size: 93.75%;
  }
}

@media (max-width: 720PX) {
  html {
      font-size: 87.5%;
  }
}

body {
  background: var(--black-01);
  color: var(--white)
}

button {
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}
