<app-header></app-header>
<app-banner></app-banner>
<main>
  <h2 class="section-name">Games</h2>

  <section class="games">
    <article class="games-content">
      <div class="card-wrapper">
        <app-game-card></app-game-card>
      </div>
      <div class="card-wrapper">
        <app-game-card></app-game-card>
      </div>
      <div class="card-wrapper">
        <app-game-card></app-game-card>
      </div>
      <div class="card-wrapper">
        <app-game-card></app-game-card>
      </div>
      <div class="card-wrapper">
        <app-game-card></app-game-card>
      </div>
      <div class="card-wrapper">
        <app-game-card></app-game-card>
      </div>
      <div class="card-wrapper">
        <app-game-card></app-game-card>
      </div>
      <div class="card-wrapper">
        <app-game-card></app-game-card>
      </div>
    </article>
    <button>View More</button>
  </section>
</main>
